In [1]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
file = ("Resources/ab_map.csv")

In [5]:
data = pd.read_csv(file)
data.head()

  abbreviations          full_name
0           ATL      Atlanta Hawks
1           BKN      Brooklyn Nets
2           BOS     Boston Celtics
3           CHA  Charlotte Hornets
4           CHI      Chicago Bulls

In [6]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Batman!99",
                               db="season_stats_db"))
data.to_sql(con=engine, name='abv_map_table', if_exists='replace')