In [58]:
import pandas as pd

In [59]:
arena = pd.read_table('./Resources/arena.txt')

In [60]:
arena_df = pd.DataFrame(arena)

In [61]:

arena_df = arena_df.rename(columns={arena_df.columns[0]: "Data" })
arena_df = arena_df[arena_df['Data'].str.contains('-')]
arena_df = arena_df[~arena_df['Data'].str.contains('Location|Phone|Website|Email|Founded|Arena:')]
#arena_df  = pd.DataFrame(arena_df['Data'].str.split().values.tolist())
#arena_df = arena_df.replace('\D+-\D+', '\D+-\D+\:', regex=True)
arena_df = arena_df.replace('- ', '-NOW', regex=True)
arena_df = arena_df.replace('  ', ':', regex=True)
arena_df = arena_df.replace('::', ':', regex=True)
arena_df = arena_df.replace('::', ':', regex=True)
arena_df = arena_df.replace('::', ':', regex=True)

arena_df = pd.DataFrame(arena_df['Data'].str.split(':').values.tolist())
#header_df  = header_df.rename(columns={header_df.columns[0]: "Status",
#                                     header_df.columns[1]: "Flow",
#                                     header_df.columns[2]: "Error",
#                                     header_df.columns[3]: "Warning"})
arena_df

,0,1,2,3,4
0,1949-51 Wheaton Field House,"Moline, IL","6,000",None,None
1,1951-55 Milwaukee Arena,"Milwaukee, WI","11,000",None,None
2,1955-68 Kiel Auditorium,"St. Louis, MO","10,000",None,None
3,1968-72 Alexander Memorial Coliseum,"Atlanta, GA","7,166",None,None
4,1972-97 Omni Coliseum,"Atlanta, GA","6,378",None,None
5,1997-99 Georgia Dome,"Atlanta, GA","21,570",None,None
6,1999-NOW,Philips Arena,"Atlanta, GA","20,000",None
7,1946-95 Boston Garden,"Boston, MA","14,890",None,None
8,1995-05 Fleet Center,"Boston, MA","18,624",None,None
9,2005-NOW,TD Garden,,"Boston, MA","18,624"
10,2004-NOW,Time Warner Cable Arena,"Charlotte, NC","19,077",
11,1966-67 Chicago Amphitheater,"Chicago, IL","11,002",None,None
12,1967-94 Chicago Stadium,"Chicago, IL","18,676",None,None
13,1994-NOW,United Center,"Chicago, IL","21,711",None
14,1970-74 Cleveland Arena,"Cleveland, OH","11,000",None,None
15,1974-94 The Coliseum,"Richfield, OH","20,273",None,None
16,1994-05 Gund Arena,,"Cleveland, OH","20,562",None
17,2005-NOW,Quicken Loans Arean,"Cleveland, OH","20,562",None
18,1980-01 Reunion Arena,"Dallas, TX","18,042",None,None
19,01-NOW,American Airlines Arena,"Dallas, TX","19,200",None
20,1967-75 Auditorium Arena,"Denver, CO","6,841",None,None
21,1975-99 McNichols Sports Arena,"Denver, CO","17,171",None,None
22,1999-NOW,Pepsi Center,"Denver, CO","19,309",None
23,1948-52 North Side High School Gym,"Fort Wayne, IN","3,800",None,None
24,1952-57 Memorial Coliseum,"Fort Wayne, IN","9,306",None,None
25,1957-61 Olympia Stadium,"Detroit, MI","14,000",None,None
26,1961-78 Cobo Arena,,"Detroit, MI","11,147",None
27,1978-88 Silverdome,,"Pontiac, MI","22,366",None
28,1988-NOW,Palace of Auburn Hills,Auburn Hills,"21,454",None
29,1946-52 Philadelphia Arena,"Philadelphia, PA","7,777",None,None
...,...,...,...,...,...
105,2013-NOW,Sleep Train Arena,"Sacramento, CA","17,317",None
106,"San Antonio, TX 78203-1031",None,None,None,None
107,1967-70 Memorial Auditorium,"Dallas, TX","8,088",None,None
108,"1970-71 Moody Coliseum,","Dallas, TX","8,500",None,None
109,1971-73 Moody Coliseum,"Dallas, TX","9,500",None,None
110,1973-93 HemisFair Arena,"San Antonio,TX 16,057",None,None,None
111,1993-02 Alamodome,,"San Antonio,TX 25,557",None,None
112,2002-10 SBC Center,,"San Antonio,TX 20,557",None,None
113,2010-NOW,AT&T Center,,"San Antonio,TX 18,418",None
114,1967-78 Seattle Center Coliseum,"Seattle, WA","14,098",None,None
115,1978-85 Kingdome,,"Seattle, WA","40,192",None
116,1985-94 Seattle Center Coliseum,"Seattle, WA","14,252",None,None
117,1994-95 Tacoma Dome,,"Tacoma, WA","19,000",None
118,1995-08 Key Arena,,"Seattle, WA","17,100",None
119,2008-NOW,Chesapeake Energy Arena,"Oklahoma, OK","18,203",None
120,1995-99 SkyDome,,"Toronto, ON","22,911",None
121,1999-NOW,Air Canada Centre,"Toronto, ON","19,500",None
122,1974-75 Municipal Auditorium,New Orleans,"55,675",None,None
123,1975-79 Superdome,,New Orleans,None,None
124,1979-91 Salt Palace,,"Salt Lake City 14,000?",None,None
125,1991-06 Delta Center,"Salt Lake City 19,911",None,None,None
126,2006-15 Energy Solutions Arena,"Salt Lake City 19,911",None,None,None
127,2015-NOW,Vivint Smart Home Arena,"Salt Lake City 19,911",None,None
128,1961-62 Chicago Amphitheater,"Chicago, IL","11,000",None,None
129,1962-63 Chicago Coliseum,"Chicago, IL","7,100",None,None
130,1963-73 Baltimore Civic Center,"Baltimore, MD","12,289",None,None
131,1973-97 USAir Arena,,"Landover, MD","18,756",None
132,1997-05 MCI Center,,"Washington, DC 21,500",None,None
133,2005-NOW,Verizon Center,Washington DC,"20,356",None
134,"Ste. 200 Seattle, WA 98109-9711",None,None,None,None